<div class="serverHide">Server Down. Check back in 24hours...</div>
<!-- SERVER MESSAGE THAT ONLY DISPLAYS IF SERVER IS DOWN -->

<div class="center">
	<h1>Zomato Restaurants</h1>
	<!-- RESTAURANTS GET APPENDED TO DIV BELOW -->
	<div class="js-restaurant-name"></div>
</div>


<script type="text/javascript"> 
	// THIS FUCTION GETS THE ZOMATO API INFO AS SOON AS THE PAGE LOADS
	function start() {
		getRestaurants()
	}
	window.onload = start;
</script>
