<div class="serverHide">Server Down. Check back in 24hours...</div>
<!-- SERVER MESSAGE THAT ONLY DISPLAYS IF SERVER IS DOWN -->
<div class="center">
	<div class="js-restaurant-info"></div>
	<!-- RESTAURANT REVIEWS GET APPENDED TO DIV BELOW -->
	<div class="js-review-text"><h2>Reviews</h2></div>
</div>