// Place all the styles related to the Food controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.review {
	color: #1e90ff;
	font-size: 16px;
	border: 2px solid black;
	padding: 10px;
	margin-bottom: 10px;
	background-color: moccasin;
}

.serverHide {
	visibility: hidden;
}

.serverDown {
	visibility: hidden;
}

.serverMessage {
	visibility: visible;
	font-size: 30px;
	text-align: center;
}